src/edg-replica-metadata-catalog.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:edg-replica-metadata-catalog" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:edg-replica-metadata-catalog" xmlns:intf="urn:edg-replica-metadata-catalog" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><wsdl:types><schema targetNamespace="urn:edg-replica-metadata-catalog" xmlns="http://www.w3.org/2001/XMLSchema"><import namespace="http://schemas.xmlsoap.org/soap/encoding/"/><complexType name="ArrayOf_xsd_string"><complexContent><restriction base="soapenc:Array"><attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/></restriction></complexContent></complexType></schema></wsdl:types>
  <wsdl:message name="addAliasRequest">
    <wsdl:part name="in0" type="xsd:string"/>
    <wsdl:part name="in1" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="setDefaultResultLengthResponse">
  </wsdl:message>
  <wsdl:message name="getAliasAttributeRequest">
    <wsdl:part name="in0" type="xsd:string"/>
    <wsdl:part name="in1" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getMappingsByGuidRequest">
    <wsdl:part name="in0" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getMappingsByGuidResponse">
    <wsdl:part name="getMappingsByGuidReturn" type="impl:ArrayOf_xsd_string"/>
  </wsdl:message>
  <wsdl:message name="getMappingsByAliasRequest1">
    <wsdl:part name="in0" type="xsd:string"/>
    <wsdl:part name="in1" type="xsd:int"/>
  </wsdl:message>
  <wsdl:message name="setAliasAttributeResponse">
    <wsdl:part name="setAliasAttributeReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getMappingsByAliasRequest">
    <wsdl:part name="in0" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getMappingsByAliasRequest2">
    <wsdl:part name="in0" type="xsd:string"/>
    <wsdl:part name="in1" type="xsd:int"/>
    <wsdl:part name="in2" type="xsd:int"/>
  </wsdl:message>
  <wsdl:message name="aliasExistsRequest">
    <wsdl:part name="in0" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="pingRequest">
  </wsdl:message>
  <wsdl:message name="setGuidAttributeResponse">
    <wsdl:part name="setGuidAttributeReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getAttributeDefinitionsRequest">
  </wsdl:message>
  <wsdl:message name="getAliasesResponse">
    <wsdl:part name="getAliasesReturn" type="impl:ArrayOf_xsd_string"/>
  </wsdl:message>
  <wsdl:message name="getMappingsByAliasResponse2">
    <wsdl:part name="getMappingsByAliasReturn" type="impl:ArrayOf_xsd_string"/>
  </wsdl:message>
  <wsdl:message name="getVersionResponse">
    <wsdl:part name="getVersionReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="removeGuidAttributeRequest">
    <wsdl:part name="in0" type="xsd:string"/>
    <wsdl:part name="in1" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getMappingsByGuidAttributeResponse">
    <wsdl:part name="getMappingsByGuidAttributeReturn" type="impl:ArrayOf_xsd_string"/>
  </wsdl:message>
  <wsdl:message name="getMappingsByAliasResponse1">
    <wsdl:part name="getMappingsByAliasReturn" type="impl:ArrayOf_xsd_string"/>
  </wsdl:message>
  <wsdl:message name="setGuidAttributeRequest">
    <wsdl:part name="in0" type="xsd:string"/>
    <wsdl:part name="in1" type="xsd:string"/>
    <wsdl:part name="in2" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getMappingsByGuidRequest2">
    <wsdl:part name="in0" type="xsd:string"/>
    <wsdl:part name="in1" type="xsd:int"/>
    <wsdl:part name="in2" type="xsd:int"/>
  </wsdl:message>
  <wsdl:message name="aliasExistsResponse">
    <wsdl:part name="aliasExistsReturn" type="xsd:boolean"/>
  </wsdl:message>
  <wsdl:message name="removeAttributeDefinitionResponse">
  </wsdl:message>
  <wsdl:message name="getGuidAttributeResponse">
    <wsdl:part name="getGuidAttributeReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="removeAttributeDefinitionRequest">
    <wsdl:part name="in0" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="createAttributeDefinitionRequest">
    <wsdl:part name="in0" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getAttributeDefinitionsResponse">
    <wsdl:part name="getAttributeDefinitionsReturn" type="impl:ArrayOf_xsd_string"/>
  </wsdl:message>
  <wsdl:message name="getAliasesRequest">
    <wsdl:part name="in0" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="removeAliasAttributeRequest">
    <wsdl:part name="in0" type="xsd:string"/>
    <wsdl:part name="in1" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getMappingsByGuidResponse1">
    <wsdl:part name="getMappingsByGuidReturn" type="impl:ArrayOf_xsd_string"/>
  </wsdl:message>
  <wsdl:message name="getDefaultResultLengthResponse">
    <wsdl:part name="getDefaultResultLengthReturn" type="xsd:int"/>
  </wsdl:message>
  <wsdl:message name="removeAliasAttributeResponse">
  </wsdl:message>
  <wsdl:message name="attributeDefinitionExistsRequest">
    <wsdl:part name="in0" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="attributeDefinitionExistsResponse">
    <wsdl:part name="attributeDefinitionExistsReturn" type="xsd:boolean"/>
  </wsdl:message>
  <wsdl:message name="getMappingsByGuidRequest1">
    <wsdl:part name="in0" type="xsd:string"/>
    <wsdl:part name="in1" type="xsd:int"/>
  </wsdl:message>
  <wsdl:message name="getMappingsByAliasAttributeResponse">
    <wsdl:part name="getMappingsByAliasAttributeReturn" type="impl:ArrayOf_xsd_string"/>
  </wsdl:message>
  <wsdl:message name="guidForAliasResponse">
    <wsdl:part name="guidForAliasReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="addAliasResponse">
  </wsdl:message>
  <wsdl:message name="getGuidAttributeRequest">
    <wsdl:part name="in0" type="xsd:string"/>
    <wsdl:part name="in1" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getAliasAttributeResponse">
    <wsdl:part name="getAliasAttributeReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="setDefaultResultLengthRequest">
    <wsdl:part name="in0" type="xsd:int"/>
  </wsdl:message>
  <wsdl:message name="guidExistsResponse">
    <wsdl:part name="guidExistsReturn" type="xsd:boolean"/>
  </wsdl:message>
  <wsdl:message name="removeAliasRequest">
    <wsdl:part name="in0" type="xsd:string"/>
    <wsdl:part name="in1" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getMappingsByAliasResponse">
    <wsdl:part name="getMappingsByAliasReturn" type="impl:ArrayOf_xsd_string"/>
  </wsdl:message>
  <wsdl:message name="setAliasAttributeRequest">
    <wsdl:part name="in0" type="xsd:string"/>
    <wsdl:part name="in1" type="xsd:string"/>
    <wsdl:part name="in2" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="createAttributeDefinitionResponse">
  </wsdl:message>
  <wsdl:message name="getMappingsByGuidResponse2">
    <wsdl:part name="getMappingsByGuidReturn" type="impl:ArrayOf_xsd_string"/>
  </wsdl:message>
  <wsdl:message name="getDefaultResultLengthRequest">
  </wsdl:message>
  <wsdl:message name="guidForAliasRequest">
    <wsdl:part name="in0" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="removeGuidAttributeResponse">
  </wsdl:message>
  <wsdl:message name="getMappingsByAliasAttributeRequest">
    <wsdl:part name="in0" type="xsd:string"/>
    <wsdl:part name="in1" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="pingReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getVersionRequest">
  </wsdl:message>
  <wsdl:message name="removeAliasResponse">
  </wsdl:message>
  <wsdl:message name="getMappingsByGuidAttributeRequest">
    <wsdl:part name="in0" type="xsd:string"/>
    <wsdl:part name="in1" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="guidExistsRequest">
    <wsdl:part name="in0" type="xsd:string"/>
  </wsdl:message>
  <wsdl:portType name="EdgReplicaMetadataCatalog">
    <wsdl:operation name="getVersion">
      <wsdl:input message="impl:getVersionRequest" name="getVersionRequest"/>
      <wsdl:output message="impl:getVersionResponse" name="getVersionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="addAlias" parameterOrder="in0 in1">
      <wsdl:input message="impl:addAliasRequest" name="addAliasRequest"/>
      <wsdl:output message="impl:addAliasResponse" name="addAliasResponse"/>
    </wsdl:operation>
    <wsdl:operation name="removeAlias" parameterOrder="in0 in1">
      <wsdl:input message="impl:removeAliasRequest" name="removeAliasRequest"/>
      <wsdl:output message="impl:removeAliasResponse" name="removeAliasResponse"/>
    </wsdl:operation>
    <wsdl:operation name="aliasExists" parameterOrder="in0">
      <wsdl:input message="impl:aliasExistsRequest" name="aliasExistsRequest"/>
      <wsdl:output message="impl:aliasExistsResponse" name="aliasExistsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="guidExists" parameterOrder="in0">
      <wsdl:input message="impl:guidExistsRequest" name="guidExistsRequest"/>
      <wsdl:output message="impl:guidExistsResponse" name="guidExistsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="guidForAlias" parameterOrder="in0">
      <wsdl:input message="impl:guidForAliasRequest" name="guidForAliasRequest"/>
      <wsdl:output message="impl:guidForAliasResponse" name="guidForAliasResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getAliases" parameterOrder="in0">
      <wsdl:input message="impl:getAliasesRequest" name="getAliasesRequest"/>
      <wsdl:output message="impl:getAliasesResponse" name="getAliasesResponse"/>
    </wsdl:operation>
    <wsdl:operation name="createAttributeDefinition" parameterOrder="in0">
      <wsdl:input message="impl:createAttributeDefinitionRequest" name="createAttributeDefinitionRequest"/>
      <wsdl:output message="impl:createAttributeDefinitionResponse" name="createAttributeDefinitionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getAttributeDefinitions">
      <wsdl:input message="impl:getAttributeDefinitionsRequest" name="getAttributeDefinitionsRequest"/>
      <wsdl:output message="impl:getAttributeDefinitionsResponse" name="getAttributeDefinitionsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="attributeDefinitionExists" parameterOrder="in0">
      <wsdl:input message="impl:attributeDefinitionExistsRequest" name="attributeDefinitionExistsRequest"/>
      <wsdl:output message="impl:attributeDefinitionExistsResponse" name="attributeDefinitionExistsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="removeAttributeDefinition" parameterOrder="in0">
      <wsdl:input message="impl:removeAttributeDefinitionRequest" name="removeAttributeDefinitionRequest"/>
      <wsdl:output message="impl:removeAttributeDefinitionResponse" name="removeAttributeDefinitionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="setGuidAttribute" parameterOrder="in0 in1 in2">
      <wsdl:input message="impl:setGuidAttributeRequest" name="setGuidAttributeRequest"/>
      <wsdl:output message="impl:setGuidAttributeResponse" name="setGuidAttributeResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getGuidAttribute" parameterOrder="in0 in1">
      <wsdl:input message="impl:getGuidAttributeRequest" name="getGuidAttributeRequest"/>
      <wsdl:output message="impl:getGuidAttributeResponse" name="getGuidAttributeResponse"/>
    </wsdl:operation>
    <wsdl:operation name="removeGuidAttribute" parameterOrder="in0 in1">
      <wsdl:input message="impl:removeGuidAttributeRequest" name="removeGuidAttributeRequest"/>
      <wsdl:output message="impl:removeGuidAttributeResponse" name="removeGuidAttributeResponse"/>
    </wsdl:operation>
    <wsdl:operation name="setAliasAttribute" parameterOrder="in0 in1 in2">
      <wsdl:input message="impl:setAliasAttributeRequest" name="setAliasAttributeRequest"/>
      <wsdl:output message="impl:setAliasAttributeResponse" name="setAliasAttributeResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getAliasAttribute" parameterOrder="in0 in1">
      <wsdl:input message="impl:getAliasAttributeRequest" name="getAliasAttributeRequest"/>
      <wsdl:output message="impl:getAliasAttributeResponse" name="getAliasAttributeResponse"/>
    </wsdl:operation>
    <wsdl:operation name="removeAliasAttribute" parameterOrder="in0 in1">
      <wsdl:input message="impl:removeAliasAttributeRequest" name="removeAliasAttributeRequest"/>
      <wsdl:output message="impl:removeAliasAttributeResponse" name="removeAliasAttributeResponse"/>
    </wsdl:operation>
    <wsdl:operation name="setDefaultResultLength" parameterOrder="in0">
      <wsdl:input message="impl:setDefaultResultLengthRequest" name="setDefaultResultLengthRequest"/>
      <wsdl:output message="impl:setDefaultResultLengthResponse" name="setDefaultResultLengthResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getDefaultResultLength">
      <wsdl:input message="impl:getDefaultResultLengthRequest" name="getDefaultResultLengthRequest"/>
      <wsdl:output message="impl:getDefaultResultLengthResponse" name="getDefaultResultLengthResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getMappingsByGuid" parameterOrder="in0">
      <wsdl:input message="impl:getMappingsByGuidRequest" name="getMappingsByGuidRequest"/>
      <wsdl:output message="impl:getMappingsByGuidResponse" name="getMappingsByGuidResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getMappingsByGuid" parameterOrder="in0 in1">
      <wsdl:input message="impl:getMappingsByGuidRequest1" name="getMappingsByGuidRequest1"/>
      <wsdl:output message="impl:getMappingsByGuidResponse1" name="getMappingsByGuidResponse1"/>
    </wsdl:operation>
    <wsdl:operation name="getMappingsByGuid" parameterOrder="in0 in1 in2">
      <wsdl:input message="impl:getMappingsByGuidRequest2" name="getMappingsByGuidRequest2"/>
      <wsdl:output message="impl:getMappingsByGuidResponse2" name="getMappingsByGuidResponse2"/>
    </wsdl:operation>
    <wsdl:operation name="getMappingsByAlias" parameterOrder="in0">
      <wsdl:input message="impl:getMappingsByAliasRequest" name="getMappingsByAliasRequest"/>
      <wsdl:output message="impl:getMappingsByAliasResponse" name="getMappingsByAliasResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getMappingsByAlias" parameterOrder="in0 in1">
      <wsdl:input message="impl:getMappingsByAliasRequest1" name="getMappingsByAliasRequest1"/>
      <wsdl:output message="impl:getMappingsByAliasResponse1" name="getMappingsByAliasResponse1"/>
    </wsdl:operation>
    <wsdl:operation name="getMappingsByAlias" parameterOrder="in0 in1 in2">
      <wsdl:input message="impl:getMappingsByAliasRequest2" name="getMappingsByAliasRequest2"/>
      <wsdl:output message="impl:getMappingsByAliasResponse2" name="getMappingsByAliasResponse2"/>
    </wsdl:operation>
    <wsdl:operation name="getMappingsByGuidAttribute" parameterOrder="in0 in1">
      <wsdl:input message="impl:getMappingsByGuidAttributeRequest" name="getMappingsByGuidAttributeRequest"/>
      <wsdl:output message="impl:getMappingsByGuidAttributeResponse" name="getMappingsByGuidAttributeResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getMappingsByAliasAttribute" parameterOrder="in0 in1">
      <wsdl:input message="impl:getMappingsByAliasAttributeRequest" name="getMappingsByAliasAttributeRequest"/>
      <wsdl:output message="impl:getMappingsByAliasAttributeResponse" name="getMappingsByAliasAttributeResponse"/>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="impl:pingRequest" name="pingRequest"/>
      <wsdl:output message="impl:pingResponse" name="pingResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="edg-replica-metadata-catalogSoapBinding" type="impl:EdgReplicaMetadataCatalog">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getVersion">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getVersionRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getVersionResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAlias">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="addAliasRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="addAliasResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeAlias">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="removeAliasRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="removeAliasResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aliasExists">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="aliasExistsRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="aliasExistsResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guidExists">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="guidExistsRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="guidExistsResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guidForAlias">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="guidForAliasRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="guidForAliasResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAliases">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getAliasesRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getAliasesResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createAttributeDefinition">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="createAttributeDefinitionRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="createAttributeDefinitionResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAttributeDefinitions">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getAttributeDefinitionsRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getAttributeDefinitionsResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="attributeDefinitionExists">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="attributeDefinitionExistsRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="attributeDefinitionExistsResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeAttributeDefinition">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="removeAttributeDefinitionRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="removeAttributeDefinitionResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setGuidAttribute">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="setGuidAttributeRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="setGuidAttributeResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGuidAttribute">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getGuidAttributeRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getGuidAttributeResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeGuidAttribute">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="removeGuidAttributeRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="removeGuidAttributeResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setAliasAttribute">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="setAliasAttributeRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="setAliasAttributeResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAliasAttribute">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getAliasAttributeRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getAliasAttributeResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeAliasAttribute">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="removeAliasAttributeRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="removeAliasAttributeResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setDefaultResultLength">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="setDefaultResultLengthRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="setDefaultResultLengthResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDefaultResultLength">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getDefaultResultLengthRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getDefaultResultLengthResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMappingsByGuid">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getMappingsByGuidRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getMappingsByGuidResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMappingsByGuid">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getMappingsByGuidRequest1">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getMappingsByGuidResponse1">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMappingsByGuid">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getMappingsByGuidRequest2">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getMappingsByGuidResponse2">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMappingsByAlias">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getMappingsByAliasRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getMappingsByAliasResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMappingsByAlias">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getMappingsByAliasRequest1">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getMappingsByAliasResponse1">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMappingsByAlias">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getMappingsByAliasRequest2">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getMappingsByAliasResponse2">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMappingsByGuidAttribute">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getMappingsByGuidAttributeRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getMappingsByGuidAttributeResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMappingsByAliasAttribute">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getMappingsByAliasAttributeRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="getMappingsByAliasAttributeResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="pingRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="pingResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:edg-replica-metadata-catalog" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EdgReplicaMetadataCatalogService">
    <wsdl:port binding="impl:edg-replica-metadata-catalogSoapBinding" name="edg-replica-metadata-catalog">
      <wsdlsoap:address location="http://lxshare0342.cern.ch:8080/edg-replica-metadata-catalog/services/edg-replica-metadata-catalog"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>